<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>The reviews of all hot-smoking movies, videos and porn!</h1>
  <p>Ancient alien magnetic current Mahabharata Annunaki King Soloman Annunaki, burmuta triangle kachina doll ancient alien theorists ancient civilization, star gates UFO stonehenge ancient religions space time.</p>
  <%= link_to 'Sign up to Make a Review', new_user_registration_path, class: 'btn btn-primary btn-lg clrwh', role: 'button' %>
</div>

<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
